**.s
**.vo
**.vos
**.vio
**.vok
**.v.d
**.glob
*.v#
**.cmo
**.cmi
**.cmx
**.null
**/_build
**.native
**/.merlin
*~
*.v~
*.log
*.aux
*.stackdump
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ml~
*.gz
.lia.cache
*.cache
**.depend